Here is the ultimate pandas cheatsheet for myself and you guys!<br>
[Check for more Pandas!](https://pandas.pydata.org/docs/reference/frame.html)<br>
**If you're reading this, please upvote.**

# 1. Data Loading and Saving

In [1]:
# import library
import pandas as pd

# unhide all rows and columns
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 1000)

# to show multiple outputs of multiple variables from a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# load data
reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv", delimiter=",", index_col=0)

# save data
reviews.to_csv("wine_reviews.csv")

# head or tail
reviews.head()

  country                                        description                           designation  points  price        province           region_1           region_2             variety                   winery
0      US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0      California        Napa Valley               Napa  Cabernet Sauvignon                    Heitz
1   Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0  Northern Spain               Toro                NaN       Tinta de Toro  Bodega Carmen Rodríguez
2      US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0      California     Knights Valley             Sonoma     Sauvignon Blanc                 Macauley
3      US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0          Oregon  Willamette Valley  Willamette Valley          Pinot Noir                    Ponzi
4  France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0        Provence             Bandol                NaN  Provence red blend     Domaine de la Bégude

# 2. Indexing and Selecting
**loc** : Use the data index value. loc[row, column] <br>
**iloc** : Use the data index position. iloc[row, column]

In [2]:
# removing index
# df.reset_index(drop=True)

In [3]:
# set index
# df = df.set_index("country")

In [4]:
# get a column with loc
reviews.loc[:5,"description"]

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
3    This spent 20 months in 30% new French oak, an...
4    This is the top wine from La Bégude, named aft...
5    Deep, dense and pure from the opening bell, th...
Name: description, dtype: object

In [5]:
# get a column with iloc
reviews.iloc[:5,1]

0    This tremendous 100% varietal wine hails from ...
1    Ripe aromas of fig, blackberry and cassis are ...
2    Mac Watson honors the memory of a wine once ma...
3    This spent 20 months in 30% new French oak, an...
4    This is the top wine from La Bégude, named aft...
Name: description, dtype: object

In [6]:
# get desired columns
cols = ["country", "designation", "points","price"]
df = reviews.loc[:, cols]
df.head(10)

  country                           designation  points  price
0      US                     Martha's Vineyard      96  235.0
1   Spain  Carodorum Selección Especial Reserva      96  110.0
2      US         Special Selected Late Harvest      96   90.0
3      US                               Reserve      96   65.0
4  France                            La Brûlade      95   66.0
5   Spain                             Numanthia      95   73.0
6   Spain                             San Román      95   65.0
7   Spain               Carodorum Único Crianza      95  110.0
8      US                                Silice      95   65.0
9      US                  Gap's Crown Vineyard      95   60.0

In [7]:
# selecting Italy
df.loc[reviews.country == "Italy"]

       country         designation  points  price
10       Italy  Ronco della Chiesa      95   80.0
32       Italy       Vigna Piaggia      90    NaN
35       Italy             Riserva      90  135.0
37       Italy                 NaN      90   29.0
38       Italy                 NaN      90   23.0
...        ...                 ...     ...    ...
150920   Italy        Brut Riserva      91   19.0
150922   Italy           Superiore      91    NaN
150925   Italy                 NaN      91   20.0
150927   Italy       Terre di Dora      91   20.0
150929   Italy                 NaN      90   15.0

[23478 rows x 4 columns]

In [8]:
# selecting made in Italy AND rated above 90
df.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

       country         designation  points  price
10       Italy  Ronco della Chiesa      95   80.0
32       Italy       Vigna Piaggia      90    NaN
35       Italy             Riserva      90  135.0
37       Italy                 NaN      90   29.0
38       Italy                 NaN      90   23.0
...        ...                 ...     ...    ...
150920   Italy        Brut Riserva      91   19.0
150922   Italy           Superiore      91    NaN
150925   Italy                 NaN      91   20.0
150927   Italy       Terre di Dora      91   20.0
150929   Italy                 NaN      90   15.0

[7945 rows x 4 columns]

In [9]:
# selecting made in Italy OR rated above 90
df.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]

       country                           designation  points  price
0           US                     Martha's Vineyard      96  235.0
1        Spain  Carodorum Selección Especial Reserva      96  110.0
2           US         Special Selected Late Harvest      96   90.0
3           US                               Reserve      96   65.0
4       France                            La Brûlade      95   66.0
...        ...                                   ...     ...    ...
150925   Italy                                   NaN      91   20.0
150926  France                        Cuvée Prestige      91   27.0
150927   Italy                         Terre di Dora      91   20.0
150928  France                       Grand Brut Rosé      90   52.0
150929   Italy                                   NaN      90   15.0

[63743 rows x 4 columns]

In [10]:
# select wines only from Italy or France
df.loc[df.country.isin(['Italy', 'France'])]

       country              designation  points  price
4       France               La Brûlade      95   66.0
10       Italy       Ronco della Chiesa      95   80.0
13      France  Château Montus Prestige      95   90.0
18      France            Le Pigeonnier      95  290.0
32       Italy            Vigna Piaggia      90    NaN
...        ...                      ...     ...    ...
150925   Italy                      NaN      91   20.0
150926  France           Cuvée Prestige      91   27.0
150927   Italy            Terre di Dora      91   20.0
150928  France          Grand Brut Rosé      90   52.0
150929   Italy                      NaN      90   15.0

[44576 rows x 4 columns]

In [11]:
# filter out wines lacking a price tag
df.loc[df.price.notnull()]

       country                           designation  points  price
0           US                     Martha's Vineyard      96  235.0
1        Spain  Carodorum Selección Especial Reserva      96  110.0
2           US         Special Selected Late Harvest      96   90.0
3           US                               Reserve      96   65.0
4       France                            La Brûlade      95   66.0
...        ...                                   ...     ...    ...
150925   Italy                                   NaN      91   20.0
150926  France                        Cuvée Prestige      91   27.0
150927   Italy                         Terre di Dora      91   20.0
150928  France                       Grand Brut Rosé      90   52.0
150929   Italy                                   NaN      90   15.0

[137235 rows x 4 columns]

In [12]:
# filter out points >= 90
reviews.query("points >= 90")

       country                                        description                           designation  points  price            province           region_1           region_2             variety                   winery
0           US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0          California        Napa Valley               Napa  Cabernet Sauvignon                    Heitz
1        Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0      Northern Spain               Toro                NaN       Tinta de Toro  Bodega Carmen Rodríguez
2           US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0          California     Knights Valley             Sonoma     Sauvignon Blanc                 Macauley
3           US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0              Oregon  Willamette Valley  Willamette Valley          Pinot Noir                    Ponzi
4       France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0            Provence             Bandol                NaN  Provence red blend     Domaine de la Bégude
...        ...                                                ...                                   ...     ...    ...                 ...                ...                ...                 ...                      ...
150925   Italy  Many people feel Fiano represents southern Ita...                                   NaN      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend    Feudi di San Gregorio
150926  France  Offers an intriguing nose with ginger, lime an...                        Cuvée Prestige      91   27.0           Champagne          Champagne                NaN     Champagne Blend                H.Germain
150927   Italy  This classic example comes from a cru vineyard...                         Terre di Dora      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend                Terredora
150928  France  A perfect salmon shade, with scents of peaches...                       Grand Brut Rosé      90   52.0           Champagne          Champagne                NaN     Champagne Blend                   Gosset
150929   Italy  More Pinot Grigios should taste like this. A r...                                   NaN      90   15.0  Northeastern Italy         Alto Adige                NaN        Pinot Grigio            Alois Lageder

[48210 rows x 10 columns]

In [13]:
# remove the unnecessary columns
reviews_new = reviews[["country", "description", "designation", "points", "price", "province", "variety"]]
reviews_new

       country                                        description                           designation  points  price            province             variety
0           US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0          California  Cabernet Sauvignon
1        Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0      Northern Spain       Tinta de Toro
2           US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0          California     Sauvignon Blanc
3           US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0              Oregon          Pinot Noir
4       France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0            Provence  Provence red blend
...        ...                                                ...                                   ...     ...    ...                 ...                 ...
150925   Italy  Many people feel Fiano represents southern Ita...                                   NaN      91   20.0      Southern Italy         White Blend
150926  France  Offers an intriguing nose with ginger, lime an...                        Cuvée Prestige      91   27.0           Champagne     Champagne Blend
150927   Italy  This classic example comes from a cru vineyard...                         Terre di Dora      91   20.0      Southern Italy         White Blend
150928  France  A perfect salmon shade, with scents of peaches...                       Grand Brut Rosé      90   52.0           Champagne     Champagne Blend
150929   Italy  More Pinot Grigios should taste like this. A r...                                   NaN      90   15.0  Northeastern Italy        Pinot Grigio

[150930 rows x 7 columns]

In [14]:
# changing dtypes
# df["Date"] = pd.to_datetime(df["Date"])
# df["Integer"] = df["Integer"].astype("int")
# df["String"] = pd.to_numeric(df["String"].astype("str"))

# 3. Summary Functions

In [15]:
# shape of data frame
reviews.shape

(150930, 10)

In [16]:
# detailed summary
reviews.describe().round(decimals=2)

          points      price
count  150930.00  137235.00
mean       87.89      33.13
std         3.22      36.32
min        80.00       4.00
25%        86.00      16.00
50%        88.00      24.00
75%        90.00      40.00
max       100.00    2300.00

In [17]:
# list of column names
reviews.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province', 'region_1', 'region_2', 'variety', 'winery'], dtype='object')

In [18]:
# unique values in a column
reviews["country"].unique()

array(['US', 'Spain', 'France', 'Italy', 'New Zealand', 'Bulgaria',
       'Argentina', 'Australia', 'Portugal', 'Israel', 'South Africa',
       'Greece', 'Chile', 'Morocco', 'Romania', 'Germany', 'Canada',
       'Moldova', 'Hungary', 'Austria', 'Croatia', 'Slovenia', nan,
       'India', 'Turkey', 'Macedonia', 'Lebanon', 'Serbia', 'Uruguay',
       'Switzerland', 'Albania', 'Bosnia and Herzegovina', 'Brazil',
       'Cyprus', 'Lithuania', 'Japan', 'China', 'South Korea', 'Ukraine',
       'England', 'Mexico', 'Georgia', 'Montenegro', 'Luxembourg',
       'Slovakia', 'Czech Republic', 'Egypt', 'Tunisia', 'US-France'],
      dtype=object)

In [19]:
# count values in columns
reviews["country"].value_counts()

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
South Korea                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Tunisia                       2
Albania                       2
Montenegro                    2
Japan                         2
US-France                     1
Name: country, dtype: int64

# 4. Grouping and Sorting

## 4.1. Grouping

In [20]:
# pick out the best wine by country and province
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country                                        description                              designation  points  price          province                 region_1 region_2     variety                winery
country   province
Albania   Mirditë             Albania  This garnet-colored wine made from 100% Kallme...                                      NaN      88   20.0           Mirditë                      NaN      NaN     Kallmet                Arbëri
Argentina Mendoza Province  Argentina  If the color doesn't tell the full story, the ...                         Nicasia Vineyard      97  120.0  Mendoza Province                  Mendoza      NaN      Malbec  Bodega Catena Zapata
          Other             Argentina  Take note, this could be the best wine Colomé ...                                  Reserva      95   90.0             Other                    Salta      NaN      Malbec                Colomé
Australia Australia Other   Australia  This big wine presents a sophisticated bouquet...                                 Yattarna      92   65.0   Australia Other  South Eastern Australia      NaN  Chardonnay              Penfolds
          New South Wales   Australia  This wine's deep brassy color suggests honey, ...                       Noble One Botrytis      93   32.0   New South Wales          New South Wales      NaN    Sémillon            De Bortoli
...                               ...                                                ...                                      ...     ...    ...               ...                      ...      ...         ...                   ...
Uruguay   Juanico             Uruguay  This mature Bordeaux-style blend is earthy on ...         Preludio Barrel Select Lote N 77      90   45.0           Juanico                      NaN      NaN   Red Blend        Familia Deicas
          Montevideo          Uruguay  Bouza ranks as one of Uruguay's top wineries, ...  Monte Vide Eu Tannat-Merlot-Tempranillo      90   57.0        Montevideo                      NaN      NaN   Red Blend                 Bouza
          Progreso            Uruguay  Blackberry and plum aromas come with wood-smok...                                      RPF      89   23.0          Progreso                      NaN      NaN      Tannat                Pisano
          San Jose            Uruguay  While this ranks as one of the best Uruguayan ...         El Preciado Premier Gran Reserva      89   60.0          San Jose                      NaN      NaN   Red Blend        Castillo Viejo
          Uruguay             Uruguay  They call it Special Barrel, and one sniff tel...                           Special Barrel      89   50.0           Uruguay                      NaN      NaN      Tannat                 Bouza

[455 rows x 10 columns]

In [21]:
# generate a simple statistical summary
reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Albania                     2  20.0    20.0
Argentina                5631   4.0   250.0
Australia                4957   5.0   850.0
Austria                  3057   8.0  1100.0
Bosnia and Herzegovina      4  12.0    13.0
Brazil                     25  11.0    35.0
Bulgaria                   77   7.0    28.0
Canada                    196  12.0   145.0
Chile                    5816   5.0   400.0
China                       3   7.0    27.0
Croatia                    89  12.0    65.0
Cyprus                     31  10.0    22.0
Czech Republic              6  15.0    25.0
Egypt                       3   NaN     NaN
England                     9  38.0    75.0
France                  21098   5.0  2300.0
Georgia                    43   9.0    40.0
Germany                  2452   5.0   775.0
Greece                    884   7.0   120.0
Hungary                   231   7.0   764.0
India                       8  10.0    20.0
Israel                    630   8.0   150.0
Italy                   23478   5.0   900.0
Japan                       2  24.0    24.0
Lebanon                    37  12.0    51.0
Lithuania                   8  10.0    10.0
Luxembourg                  9  36.0    50.0
Macedonia                  16  12.0    25.0
Mexico                     63  12.0   108.0
Moldova                    71   8.0    42.0
Montenegro                  2  10.0    10.0
Morocco                    12   6.0    35.0
New Zealand              3320   7.0   125.0
Portugal                 5322   4.0   980.0
Romania                   139   4.0   320.0
Serbia                     14  15.0    42.0
Slovakia                    3  15.0    16.0
Slovenia                   94   7.0    90.0
South Africa             2258   5.0   145.0
South Korea                 4  11.0    16.0
Spain                    8268   4.0   770.0
Switzerland                 4  19.0    38.0
Tunisia                     2   NaN     NaN
Turkey                     52  14.0   120.0
US                      62397   4.0  2013.0
US-France                   1  50.0    50.0
Ukraine                     5  13.0    13.0
Uruguay                    92   7.0    60.0

In [22]:
# multi-indexing
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [23]:
# converting back to regular index
countries_reviewed.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

## 4.2. Sorting

In [24]:
# sorting values
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len', ascending=False)

         country                                province    len
422           US                              California  44508
442           US                              Washington   9750
242        Italy                                 Tuscany   7281
122       France                                Bordeaux   6111
407        Spain                          Northern Spain   4892
..           ...                                     ...    ...
410  Switzerland                               Neuchâtel      1
411  Switzerland                                  Ticino      1
412  Switzerland                                  Valais      1
413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175       Greece                          Krania Olympus      1

[455 rows x 3 columns]

In [25]:
# sorting index values
countries_reviewed.sort_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [26]:
# sorting by multiple values
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
0      Albania           Mirditë     2
2    Argentina             Other   889
1    Argentina  Mendoza Province  4742
5    Australia        Queensland     3
7    Australia          Tasmania    47
..         ...               ...   ...
448    Uruguay           Colonia     6
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18
447    Uruguay         Canelones    19
450    Uruguay           Juanico    19

[455 rows x 3 columns]

## 4.3. Grouping + Sorting

In [27]:
# sorting by best wine at any price
best_rating_per_price = reviews.groupby("price")["points"].max().sort_index()
best_rating_per_price

price
4.0        86
5.0        90
6.0        90
7.0        90
8.0        91
         ...
1300.0     96
1400.0    100
1900.0     98
2013.0     91
2300.0     99
Name: points, Length: 357, dtype: int64

In [28]:
# sorting the most common wines by countries and varieties
country_variety_counts = reviews.groupby(["country", "variety"]).size().sort_values(ascending=False)

# 5. Renaming

In [29]:
# rename columns
renamed = reviews.rename(columns={"region_1": "region", "region_2" : "locale"})

In [30]:
# rename index
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

            country                                        description                           designation  points  price            province           region_1           region_2             variety                   winery
firstEntry       US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0          California        Napa Valley               Napa  Cabernet Sauvignon                    Heitz
secondEntry   Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0      Northern Spain               Toro                NaN       Tinta de Toro  Bodega Carmen Rodríguez
2                US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0          California     Knights Valley             Sonoma     Sauvignon Blanc                 Macauley
3                US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0              Oregon  Willamette Valley  Willamette Valley          Pinot Noir                    Ponzi
4            France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0            Provence             Bandol                NaN  Provence red blend     Domaine de la Bégude
...             ...                                                ...                                   ...     ...    ...                 ...                ...                ...                 ...                      ...
150925        Italy  Many people feel Fiano represents southern Ita...                                   NaN      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend    Feudi di San Gregorio
150926       France  Offers an intriguing nose with ginger, lime an...                        Cuvée Prestige      91   27.0           Champagne          Champagne                NaN     Champagne Blend                H.Germain
150927        Italy  This classic example comes from a cru vineyard...                         Terre di Dora      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend                Terredora
150928       France  A perfect salmon shade, with scents of peaches...                       Grand Brut Rosé      90   52.0           Champagne          Champagne                NaN     Champagne Blend                   Gosset
150929        Italy  More Pinot Grigios should taste like this. A r...                                   NaN      90   15.0  Northeastern Italy         Alto Adige                NaN        Pinot Grigio            Alois Lageder

[150930 rows x 10 columns]

In [31]:
# rename axis
reviews.rename_axis("wines", axis="rows").rename_axis("fields", axis="columns")

fields country                                        description                           designation  points  price            province           region_1           region_2             variety                   winery
wines
0           US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0          California        Napa Valley               Napa  Cabernet Sauvignon                    Heitz
1        Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0      Northern Spain               Toro                NaN       Tinta de Toro  Bodega Carmen Rodríguez
2           US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0          California     Knights Valley             Sonoma     Sauvignon Blanc                 Macauley
3           US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0              Oregon  Willamette Valley  Willamette Valley          Pinot Noir                    Ponzi
4       France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0            Provence             Bandol                NaN  Provence red blend     Domaine de la Bégude
...        ...                                                ...                                   ...     ...    ...                 ...                ...                ...                 ...                      ...
150925   Italy  Many people feel Fiano represents southern Ita...                                   NaN      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend    Feudi di San Gregorio
150926  France  Offers an intriguing nose with ginger, lime an...                        Cuvée Prestige      91   27.0           Champagne          Champagne                NaN     Champagne Blend                H.Germain
150927   Italy  This classic example comes from a cru vineyard...                         Terre di Dora      91   20.0      Southern Italy  Fiano di Avellino                NaN         White Blend                Terredora
150928  France  A perfect salmon shade, with scents of peaches...                       Grand Brut Rosé      90   52.0           Champagne          Champagne                NaN     Champagne Blend                   Gosset
150929   Italy  More Pinot Grigios should taste like this. A r...                                   NaN      90   15.0  Northeastern Italy         Alto Adige                NaN        Pinot Grigio            Alois Lageder

[150930 rows x 10 columns]

# 6. Combining
* concat() : Combines different dataframes if all of them have the same columns. Operates on either rows or columns.
* join() : Combines different dataframe objects if they have index in common. Operates only on columns.

In [32]:
# concat()
df1 = pd.read_csv("../input/youtube-new/CAvideos.csv")
df2 = pd.read_csv("../input/youtube-new/GBvideos.csv")

# side2side = pd.concat([df1, df2], axis=1, join="outer")

pd.concat([df1, df2])

          video_id trending_date                                              title            channel_title  category_id              publish_time                                               tags     views    likes  dislikes  comment_count                                  thumbnail_link  comments_disabled  ratings_disabled  video_error_or_removed                                        description
0      n1WpP7iowLc      17.14.11         Eminem - Walk On Water (Audio) ft. Beyoncé               EminemVEVO           10  2017-11-10T17:00:03.000Z  Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...  17158579   787425     43420         125882  https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg              False             False                   False  Eminem's new track Walk on Water ft. Beyoncé i...
1      0dBIkQ4Mz1M      17.14.11                      PLUSH - Bad Unboxing Fan Mail                iDubbbzTV           23  2017-11-13T17:00:00.000Z  plush|"bad unboxing"|"unboxing"|"fan mail"|"id...   1014651   127794      1688          13030  https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg              False             False                   False  STill got a lot of packages. Probably will las...
2      5qpjK5DgCt4      17.14.11  Racist Superman | Rudy Mancuso, King Bach & Le...             Rudy Mancuso           23  2017-11-12T19:05:24.000Z  racist superman|"rudy"|"mancuso"|"king"|"bach"...   3191434   146035      5339           8181  https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg              False             False                   False  WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3      d380meD0W0M      17.14.11                           I Dare You: GOING BALD!?                 nigahiga           24  2017-11-12T18:01:41.000Z  ryan|"higa"|"higatv"|"nigahiga"|"i dare you"|"...   2095828   132239      1989          17518  https://i.ytimg.com/vi/d380meD0W0M/default.jpg              False             False                   False  I know it's been a while since we did this sho...
4      2Vv-BfVoq4g      17.14.11        Ed Sheeran - Perfect (Official Music Video)               Ed Sheeran           10  2017-11-09T11:04:14.000Z  edsheeran|"ed sheeran"|"acoustic"|"live"|"cove...  33523622  1634130     21082          85067  https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg              False             False                   False  🎧: https://ad.gt/yt-perfect\n💰: https://atlant...
...            ...           ...                                                ...                      ...          ...                       ...                                                ...       ...      ...       ...            ...                                             ...                ...               ...                     ...                                                ...
38911  l884wKofd54      18.14.06  Enrique Iglesias - MOVE TO MIAMI (Official Vid...      EnriqueIglesiasVEVO           10  2018-05-09T07:00:01.000Z  Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...  25066952   268088     12783           9933  https://i.ytimg.com/vi/l884wKofd54/default.jpg              False             False                   False  NEW SONG - MOVE TO MIAMI feat. Pitbull (Click ...
38912  IP8k2xkhOdI      18.14.06  Jacob Sartorius - Up With It (Official Music V...          Jacob Sartorius           10  2018-05-11T17:09:16.000Z  jacob sartorius|"jacob"|"up with it"|"jacob sa...   1492219    61998     13781          24330  https://i.ytimg.com/vi/IP8k2xkhOdI/default.jpg              False             False                   False  THE OFFICIAL UP WITH IT MUSIC VIDEO!Get my new...
38913  Il-an3K9pjg      18.14.06                 Anne-Marie - 2002 [Official Video]               Anne-Marie           10  2018-05-08T11:05:08.000Z  anne|"marie"|"anne-marie"|"2002"|"two thousand...  29641412   394830      8892          19988  https://i.ytimg.com/vi/Il-an3K9pjg/default.jpg              False             False                   False  Get 2002 by Anne-Marie HERE ▶ http://ad.gt/200...
38914  -DRsfNObKIQ      18.14.06  Eleni Foureira - Fuego - Cyprus - LIVE - First...  Eurovision Song Contest           24  2018-05-08T20:32:32.000Z  Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...  14317515   151870     45875          26766  https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg              False             False                   False  Eleni Foureira represented Cyprus at the first...
38915  4YFo4bdMO8Q      18.14.06  KYLE - Ikuyo feat.  2 Chainz & Sophia Black [A...           SuperDuperKyle           10  2018-05-11T04:06:35.000Z  Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...    607552    18271       274           1423  https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg              False             False                   False  Debut album 'Light of Mine' out now: http://ky...

[79797 rows x 16 columns]

In [33]:
# join()
powerlifting_meets = pd.read_csv("../input/powerlifting-database/meets.csv")
powerlifting_competitors = pd.read_csv("../input/powerlifting-database/openpowerlifting.csv")

powerlifting_combined = powerlifting_meets.set_index("MeetID").join(powerlifting_competitors.set_index("MeetID"))

# 7. Splitting Data

In [34]:
# split data for training, validating and testing
df = reviews.copy()
train = df.sample(frac=0.33, random_state=1)
valid = df.sample(frac=0.33, random_state=1)
test = df.sample(frac=0.33, random_state=1)

test.head()

         country                                        description           designation  points  price           province                                 region_1       region_2                        variety            winery
101579     Chile  The color and aromas are true to both Pinot No...                   NaN      86   20.0  Casablanca Valley                                      NaN            NaN                     Pinot Noir           Veranda
105684        US  This is a standard, everyday Zinfandel that's ...                Nativo      83   40.0         California                              Paso Robles  Central Coast                      Zinfandel         Oso Libre
335     Portugal  The top wine in the Rocim range is produced fr...  Grande Rocim Reserva      91  130.0         Alentejano                                      NaN            NaN              Alicante Bouschet  Herdade do Rocim
93101      Italy  Pietro Clementi's fresh Ripasso is redolent of...                   NaN      87    NaN             Veneto  Valpolicella Classico Superiore Ripasso            NaN  Corvina, Rondinella, Molinara   Pietro Clementi
22003      Italy  Falezza's Ripasso opens with an awkward nose t...                   NaN      82    NaN             Veneto           Valpolicella Superiore Ripasso            NaN  Corvina, Rondinella, Molinara           Falezza

In [35]:
# split data by column value: country = "US"
split = reviews.copy()
split_US = split[split.country == "US"]
split_US.head()

  country                                        description                    designation  points  price    province            region_1           region_2             variety     winery
0      US  This tremendous 100% varietal wine hails from ...              Martha's Vineyard      96  235.0  California         Napa Valley               Napa  Cabernet Sauvignon      Heitz
2      US  Mac Watson honors the memory of a wine once ma...  Special Selected Late Harvest      96   90.0  California      Knights Valley             Sonoma     Sauvignon Blanc   Macauley
3      US  This spent 20 months in 30% new French oak, an...                        Reserve      96   65.0      Oregon   Willamette Valley  Willamette Valley          Pinot Noir      Ponzi
8      US  This re-named vineyard was formerly bottled as...                         Silice      95   65.0      Oregon  Chehalem Mountains  Willamette Valley          Pinot Noir  Bergström
9      US  The producer sources from two blocks of the vi...           Gap's Crown Vineyard      95   60.0  California        Sonoma Coast             Sonoma          Pinot Noir  Blue Farm

# 8. Adding Columns

In [36]:
# a score of 95 or higher counts as 3 stars, a score of at least 85 but less than 95 is 2 stars, others 1 star
def stars(row):
    if row.points >= 95:
        return 3
    elif row.points >= 85:
        return 2
    else:
        return 1

star_ratings = reviews.apply(stars, axis='columns')

In [37]:
# add star rating column
df.insert(10, "Star Rating", star_ratings)
df.head()

  country                                        description                           designation  points  price        province           region_1           region_2             variety                   winery  Star Rating
0      US  This tremendous 100% varietal wine hails from ...                     Martha's Vineyard      96  235.0      California        Napa Valley               Napa  Cabernet Sauvignon                    Heitz            3
1   Spain  Ripe aromas of fig, blackberry and cassis are ...  Carodorum Selección Especial Reserva      96  110.0  Northern Spain               Toro                NaN       Tinta de Toro  Bodega Carmen Rodríguez            3
2      US  Mac Watson honors the memory of a wine once ma...         Special Selected Late Harvest      96   90.0      California     Knights Valley             Sonoma     Sauvignon Blanc                 Macauley            3
3      US  This spent 20 months in 30% new French oak, an...                               Reserve      96   65.0          Oregon  Willamette Valley  Willamette Valley          Pinot Noir                    Ponzi            3
4  France  This is the top wine from La Bégude, named aft...                            La Brûlade      95   66.0        Provence             Bandol                NaN  Provence red blend     Domaine de la Bégude            3

# 9. Pivot Tables
df.pivot_table(values, index, aggfunc)
* values : a list of variables to calculate statistics for
* index : a list of variables to group data by
* aggfunc : statistics needed (i.e: sum, mean, maximum, minimum etc.)

In [38]:
df.pivot_table(["points", "price", "Star Rating"], ["country"], aggfunc="mean").round(decimals=2)

                        Star Rating  points  price
country
Albania                        2.00   88.00  20.00
Argentina                      1.66   86.00  20.79
Australia                      1.88   87.89  31.26
Austria                        1.99   89.28  31.19
Bosnia and Herzegovina         1.50   84.75  12.75
Brazil                         1.16   83.24  19.92
Bulgaria                       1.62   85.47  11.55
Canada                         1.90   88.24  34.63
Chile                          1.74   86.30  19.34
China                          1.00   82.00  20.33
Croatia                        1.67   86.28  23.11
Cyprus                         1.77   85.87  15.48
Czech Republic                 2.00   85.83  18.00
Egypt                          1.00   83.67    NaN
England                        2.00   92.89  47.50
France                         1.96   88.93  45.62
Georgia                        1.51   85.51  18.58
Germany                        1.93   88.63  39.01
Greece                         1.79   86.12  21.75
Hungary                        1.76   87.33  44.20
India                          1.75   87.62  13.88
Israel                         1.87   87.18  31.30
Italy                          1.96   88.41  37.55
Japan                          2.00   85.00  24.00
Lebanon                        1.62   85.70  25.43
Lithuania                      1.25   84.25  10.00
Luxembourg                     2.00   87.00  40.67
Macedonia                      1.44   84.81  15.31
Mexico                         1.44   84.76  29.10
Moldova                        1.45   84.72  15.37
Montenegro                     1.00   82.00  10.00
Morocco                        1.92   88.17  18.83
New Zealand                    1.90   87.55  24.17
Portugal                       1.89   88.06  26.33
Romania                        1.51   84.92  16.40
Serbia                         2.00   87.71  24.29
Slovakia                       1.33   83.67  15.33
Slovenia                       1.94   88.23  28.06
South Africa                   1.87   87.23  21.13
South Korea                    1.00   81.50  13.50
Spain                          1.75   86.65  27.05
Switzerland                    1.75   87.25  26.50
Tunisia                        2.00   86.00    NaN
Turkey                         1.96   88.10  25.80
US                             1.84   87.82  33.65
US-France                      2.00   88.00  50.00
Ukraine                        1.60   84.60  13.00
Uruguay                        1.46   84.48  25.85

# 10. Data Framing
Combine series to form a dataframe

In [39]:
serie = [("bmw", 88), ("mercedes", 44), ("porsche", 1)]
df101 = pd.DataFrame(serie, columns = ["brand","number"])
df101

      brand  number
0       bmw      88
1  mercedes      44
2   porsche       1

**To be continued...**